<h1>{{.ProductInfos.Name}}</h1>

<div>
    <a href='http://localhost:8080/product_list'>All Products</a> > 
    <a href="http://localhost:8080/product_list/c/{{.CateEng}}">{{.ProductInfos.CateReport}}</a> > 
    <a href="http://localhost:8080/product_list/sc/{{.SubCateEng}}">{{.ProductInfos.SubCateReport}}</a> > 
    <a href="http://localhost:8080/product_list/c1/{{.Cate1Eng}}">{{.ProductInfos.Cate1}}</a> > 
    <a href="http://localhost:8080/product_list/c2/{{.Cate2Eng}}">{{.ProductInfos.Cate2}}</a> >
    <a href="http://localhost:8080/product_list/p/{{.ProductInfos.Id}}">{{.ProductInfos.Name}}</a>
</div>
<p> </p>
<div>
    <div class='thumbnail'>
        <picture class="webpimg-container">
            <source srcset={{.ProductInfos.Image}}>
            <img src={{.ProductInfos.Image}} 
                alt={{.ProductInfos.Name}}>
        </picture>
    </div>
    <div class="info">
        <div class="product_name"><h3>{{.ProductInfos.Name}}</h3></div>
        <div class="price">{{.ProductInfos.Price}}</div>
    </div>
</div>
<p> </p>
<a href='http://localhost:8080/update/{{.ProductInfos.Id}}'><input value="Update Product" type="SUBMIT"></a>
